
.content {
  font-family: 'Single Day', cursive;
  font-size: 14px;
  display: block; /* Garante que o estilo seja aplicado ao componente em si, não a algum elemento interno */
  background-color: #f0f0f0; /* Cor de fundo cinza claro */
  padding: 1%; /* Espaçamento interno em todos os lados */
  height: 95%;
}

body {
  font-family: 'Single Day', cursive;
}